@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@media screen and (min-width: 376px) {
  body {
    margin: 0;
    font-size: 14px;
    background-color: hsl(30, 38%, 92%);
  }

  .card {
    width: 600px;
    height: 450px;
    position: absolute;
    top: calc(50% - 225px);
    left: calc(50% - 300px);
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
  }

  img {
    width: 300px;
    border-radius: 10px 0 0 10px;
  }

  .content {
    box-sizing: border-box;
    align-content: space-between;
    float: right;
    width: 300px;
    height: 450px;
    padding: 30px 25px;
    display: grid;
    grid-template-rows: repeat(5, max-content);
  }

  .product {
    letter-spacing: 4px;
    text-transform: uppercase;
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 0.8rem;
  }

  .name {
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 15px;
    padding-right: 20px;
    line-height: 2rem;
  }

  .description {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5rem;
    color: hsl(228, 12%, 48%);
    padding-right: 20px;
    margin-bottom: 0;
  }

  .prices {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin-bottom: 15px;
  }

  .price {
    color:hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
  }

  .old-price {
    padding-left: 20px;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
  }

  .button {
    background-image: url("images/icon-cart.svg");
    background-repeat: no-repeat;
    background-color: hsl(158, 36%, 37%);
    background-position: 25% 50%;
    color: white;
    border: none;
    border-radius: 10px;
    height: 50px;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 0;
  }

  @media (hover: hover) {
    .button {
      cursor: pointer;
    }
  }

}

@media screen and (max-width: 375px) {

  body {
    margin: 0;
    font-size: 14px;
    background-color: hsl(30, 38%, 92%);
  }

  .card {
    width: 350px;
    margin: 25px auto 0 auto;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
  }

  img {
    max-width: 350px;
    border-radius: 10px 10px 0 0;
  }

  .content {
    display: grid;
    grid-template-rows: repeat(5, max-content);
    padding: 25px;
    padding-top: 20px;
  }

  .product {
    margin: 0;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
  }

  .name {
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
    font-size: 2rem;
    margin: 10px 0 0 0;
  }

  .description {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5rem;
    color: hsl(228, 12%, 48%);
    font-size: 0.9rem;
  }

  .prices {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin-bottom: 15px;
  }

  .price {
    color:hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
  }

  .old-price {
    padding-left: 20px;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
  }

  .button {
    background-image: url("images/icon-cart.svg");
    background-repeat: no-repeat;
    background-color: hsl(158, 36%, 37%);
    background-position: 30% 50%;
    color: white;
    border: none;
    border-radius: 10px;
    height: 50px;
    font-weight: bold;
    font-size: 0.9rem;
  }
}